:root {
  --green: #60ba00;
  --dark-text: hsl(0, 0%, 13%);
  --grey-text: hsl(0, 0%, 29%);
  --light-grey-text: hsl(0, 0%, 45%);
  --very-light-text: hsl(0, 0%, 86%);
}

/* 
  -------------------------
          GENERAL
  -------------------------
  */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: rgb(214, 209, 209);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: var(--grey-text);

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;


}



.product-card {
  width: 350px;
  border-radius: 5px;
  background-color: rgba(218, 217, 225, 0.636);
  overflow: hidden;
  padding-top: 0px;
  position: relative;
  border: 8px solid #ffffff;

}

.info {
  padding: 20px 45px;
}

.product-card p {
  margin: 0;
  line-height: 1.7;
  font-size: 14px;
}


.main img {
  max-width: 100%;
  height: 320px;
  object-fit: cover;
  overflow: hidden;

}

.main .like {
  width: 70px;
  height: 70px;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: -40px;
  margin-left: -10px;
  margin-bottom: 20px;
  z-index: 100;
  position: relative;
}



.main p {

  font-size: .9rem;
  padding: 5px 0px;
  font-weight: 500;
  color: var(--dark-text);
}

.main .like {
  font-size: 18px;
}

/* */
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
 
}

/* SEARCH FORM */
.search-field {
  padding: 10px 15px;
  max-width: 1200px;
  font-size: 1rem;
  line-height: 1.5em;
  color: #4b134b;
  background-color: #FFF;
  background-clip: padding-box;
  border: 1px solid #C5C5C7;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  flex-grow: 1;
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-submit {
  background-color:#0e1561;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  white-space: normal;
  -webkit-transition: none;
  transition: none;
  cursor: pointer;
  outline: 0;
  padding: 14px 24px 13px;
  font-size: 1rem;
  line-height: 1.25rem;
  border-radius: 6px;
  border-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-submit:hover,
.search-submit:focus{
background-color: #1e2144;
}
.search-form .input-group {
  text-align: center;
}


.search-form {
  margin: 0px;
}




.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #0f0522 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.btn-load-more{
  background-color: #0e1561;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    white-space: normal;
    -webkit-transition: none;
    transition: none;
    cursor: pointer;
    outline: 0;
    padding: 14px 24px 13px;
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: 6px;
    border-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.load-more{
  padding-top: 20px;
  padding-bottom: 20px;
}